*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    height: 80px;
    background-color: #009819;
    display: flex;
    align-items: center;
    padding: 0 5px 5px 5px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.header h1{
    text-align: center;
    color: white;
}

.header img{
    height: 80px;
}

#relogio{
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 3px;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(top, #d9ff00, #009819);
}

button{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #009819;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /*transition: all 1s;*/
}

button:hover{
    outline: 1px solid yellow;
}

#select-box{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}


#player-selector {}

#player-selector form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

#player-selector .player-box{
    display: flex;
    flex-direction: column;
    margin: 1em;
    text-align: center;
}


#field{
    position: relative;
    width: 40%;
    height: 700px;
    background-image: url(images/campo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-size: contain;
}



.goal-zone, .back-zone, .mid-zone, .attack-zone{
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 5%;
    width: 100%;
    height: 20%;
}

